@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/circular-std");
@import url("https://fonts.cdnfonts.com/css/clash-display");
.poppins{
    font-family: Poppins;
}
.clash{
  font-family: 'Clash Display', sans-serif;
}

.my-mail{
    writing-mode: vertical-lr;
}


.container {
    width: 125px; /* Set the desired width of the container */
    overflow: hidden;
  }
  
  .scrolling-text {
    white-space: nowrap; /* Prevent the text from wrapping */
    animation: scroll-left 25s infinite; /* Define the animation */
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(-100%); /* Start position */
    }
    25% {
      transform: translateX(0); /* End position (completely shifted to the left) */
    }
    50% {
      transform: translateX(0); /* End position (completely shifted to the left) */
    }
    75% {
      transform: translateX(-100%); /* End position (completely shifted to the left) */
    }
    100% {
      transform: translateX(0); /* End position (completely shifted to the left) */
    }

  }
  .gradient-01 {
    background: linear-gradient(
      -150deg,
      #15bffd00 0%,
      #15bffd00 26%,
      hsla(257, 69%, 86%, 0) 39%,
      rgba(141, 0, 206, 0) 40%,
      #ff008400 59%,
  
      rgba(255, 0, 131, 0.5) 60%,
      rgba(141, 0, 206, 0.5) 80%,
      rgba(141, 0, 206, 0.5) 100%
    );
  
    filter: blur(100px);
  }
  .bg-gradient {
    background: linear-gradient(
      157.81deg,
      #def9fa00 -43.27%,
      #bef3f500 -21.24%,
      #9dedf000 12.19%,
      rgb(141, 0, 206)  29.82%,
      rgba(255, 0, 132) 51.94%,
      rgba(255, 0, 132, 0.5) 90.29%
    );
    filter: blur(100px);
  
  }  
  .txt {
    background: linear-gradient(
        272.61deg,
        #feed7a 43.38%,
        #ff8400 70.17%,
        #df91f7 98.11%
      ),
      linear-gradient(0deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }